.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    button {
        height: 40px;
        margin-top: 10px;
        padding: 12px;
        background-color: #114d4d;
        color: #e0e4ce;
        text-align: center;
        border: none;
        border-radius: 5px;
        transition: 0.2s;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
    }

    button:hover {
        color: #6e9987;
    }
}
